{% extends "admin/page.html" %}{% load i18n %}
{% block title %}
    {% trans "Email templates" %}
{% endblock %}

{% block body_class %}
    content--padded
{% endblock body_class %}

{% block content_title %}
    {% trans "Email templates" %}
{% endblock content_title %}
{% block content_actions %}
    {% if perms.cotimail.change_emaillog %}
    <a href="{% url 'mail-admin:logs' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-file-text-o"></span> {% trans "View email logs" %}
    </a>
    {% endif %}
{% endblock content_actions %}

{% block content_class %}content--sticky{% endblock content_class %}

{% block page_content %}
<div class="content__body">
    <div class="content__inner">
        <div class="content__list">
            <table class="table table--admin-mobile-view">
                <thead>
                    <tr class="table-row">
                        <th class="table-head-cell">{% trans "Template name" %}</th>
                        <th class="table-head-cell">{% trans "Preview" %}</th>
                        <th class="table-head-cell">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for notice in notice_map %}
                <tr class="table-row">
                    <td class="table-cell">{{notice.name}}</td>
                    <td class="table-cell">
                        {% if notice.html_template %}
                            <a href="{% url 'mail-admin:template_preview_html' notice.identifier %}">HTML</a> |
                        {% endif %}
                        <a href="{% url 'mail-admin:template_preview_text' notice.identifier 'text' %}">TXT</a>
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'mail-admin:new_email' notice.identifier %}"
                            class="btn btn--small btn--create">
                            <span class="fa fa-plus"></span>
                            {% trans "New email" %}
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr class="table-row">
                        <td colspan="3" class="table-cell">You have no notices setup yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
