{% extends "admin/base_site.html" %}
{% block title %}Notifications{% endblock %}
{% block content %}


	<h2>
		Template : {{ log.name }}
	</h2>
	<h3>
		{{log.date_created}}
	</h3>
	<h3>
		{{log.status}}
	</h3>

	<p>
		{{ body_html }}
	</p>
	{% if log.status == 'SAVED' %}
		<a href="{% url 'edit_email' log.id %}">Edit</a>
		<a href="{% url 'cotimail_logs' %}">Go to logs</a>
		<!-- <a href="{% url 'email_preview' log.id %}">Save</a> -->
		<a href="{% url 'email_sent' log.id %}">Send</a>
	{% elif log.status == 'SENT' %}
		<a href="{% url 'cotimail_logs' %}">Back</a>
	{% endif %}




{% endblock %} 