{% extends "admin/account/page.html" %}{% load i18n %}
{% block title %}{% trans "Email log context" %}{% endblock %}
{% block toolbar %}
    {% if perms.app.add_model %}
    <a href="{% url 'cotimail:logs' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-file-text-o"></span> {% trans "View email logs" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Notices" %}</span>
{% endblock %}
{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            <table class="table">
            <tr>
                <th colspan="2">{{log.subject}}</th>
            </tr>
            {% for row, value in log.get_object.get_context_dict.items %}
                <tr><td>{{row}}</td><td>{{value}}</td></tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}