{% extends "admin/account/page.html" %}{% load i18n %}

{% block title %}{% trans "Email log context" %}{% endblock %}

{% block toolbar %}
    {% if perms.cotimail.change_emaillog %}
    <a href="{% url 'cotimail:logs' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-file-text-o"></span> {% trans "View email logs" %}
    </a>
    {% endif %}
    <span class="toolbar__title">{% trans "Cotimail" %}</span>
{% endblock %}

{% block content %}
<div class="grid grid--collapse grid--break-mobile">
    <div class="grid__span-12">
        <div class="content__inner">
            <table class="table">
            <tr class="table-row">
                <th colspan="2" class="table-head-cell">
                    <span class="text-strong">{{log.subject}}</span>
                </th>
            </tr>
            {% for row, value in log.get_object.get_context_dict.items %}
                <tr class="table-row">
                    <th class="table-head-cell">{{row}}</th>
                    <td class="table-cell">{{value}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
        <div class="content__inner">
            <a href="{% url 'cotimail:email_preview' log.id %}" class="btn btn--primary">
                {% trans "Preview" %}
            </a>
            <a href="{% url 'cotimail:logs' %}" class="btn btn--transparent">
                {% trans "Back" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}