{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{% trans "Email logs" %}{% endblock %}
{% block content_title %}
<div class="inner">
    <h1>Email logs</h1>
</div>
<div class="object-tools btn-toolbar inner">
    <div class="btn-group">
        <a href="{% url 'cotimail:list' %}" class="btn btn-primary pull-right">View email templates</a>
    </div>
</div>
{% endblock %}
{% block content %}
<div id="content-main">
	<table class="table">
		<thead>
		<tr><th>{% trans "Type" %}</th><th>{% trans "Context" %}</th><th>{% trans "Sent" %}</th><th>{% trans "Status" %}</th><th>{% trans "Actions" %}</th></tr>
		</thead>
		<tbody>
		{% for log in logs %}
		<tr><td>{{log.name}}</td><td><a href="{% url 'cotimail:log_context' log.id %}">{% trans "View context" %}</a></td><td>{{log.date_sent}}</td><td>{{log.status}}</td>
			<td><a href="{% url 'cotimail:email_preview' log.id %}">Preview</a></td></tr>
		{% empty %}
			<tr><td colspan="2"><p>{% trans "No logs." %}</p></td></tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %} 

