{% extends "admin/generic/page/list.html" %}{% load i18n admin_toolbar_tags admin_list_tags %}
{% block title %}
    Email templates
{% endblock title %}

{% block body_class %}
    {{block.super}}
    content--centered
{% endblock body_class %}

{% block content_title %}
    {% trans "Email templates" %}
{% endblock content_title %}
{% block content_actions %}
    {% if perms.cotimail.change_emaillog %}
    <a href="{% url 'mail-admin:logs' %}"
        class="[ toolbar__item ] [ btn btn--primary btn--small pull-right ]">
        <span class="fa fa-list"></span> {% trans "View email logs" %}
    </a>
    {% endif %}
{% endblock content_actions %}

{% block page_content %}
{% include 'admin/generic/utils/head-filter.html' %}
<div class="content__toolbar">

</div>
<div class="content__body">
    <div class="content__inner">
        <div class="content__list">
            <table class="table table--admin-mobile-view">
                <thead>
                    <tr>
                        <th class="table-head-cell">{% trans "Template name" %}</th>
                        <th class="table-head-cell">{% trans "Preview" %}</th>
                        <th class="table-head-cell">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for notice in notice_map %}
                <tr>
                    <td>{{notice.name}}</td>
                    <td>
                        {% if notice.html_template %}
                            <a href="{% url 'mail-admin:template_preview_html' notice.identifier %}">HTML</a> |
                        {% endif %}
                        <a href="{% url 'mail-admin:template_preview_text' notice.identifier %}">TXT</a>
                    </td>
                    <td>
                        <a href="{% url 'mail-admin:new_email' notice.identifier %}"
                            class="btn btn--small btn--create">
                            <span class="fa fa-plus"></span>
                            {% trans "New email" %}
                        </a>
                    </td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">You have no notices setup yet.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="content__foot">
    <div class="content__inner content-foot">
        <div class="content-foot__left">
            {% include 'admin/generic/pagination.html' %}
        </div>
        <div class="content-foot__right"></div>
    </div>
</div>
{% endblock page_content %}
